
<div class="section">
    <div class="title">CONTACT<span class="word">ME</span></div>
    <div class="bar"></div>
    <div class="description">My contact details, all my links and social media profiles where I am active on.</div>
    <div class="contact-info">
        <div class="contact-item">
            <span class="text"><i class="fa-solid fa-location-dot icon"></i>Location :</span>
            <div class="text">Bucuresti, Romania</div>
        </div>
        <div class="contact-item">
            <span class="text"><i class="fa-solid fa-envelope icon"></i>Email :</span>
            <div class="text email"><a href="mailto:rusumarian140@gmail.com">rusumarian140@gmail.com</a></div>
        </div>
        <!-- <div class="contact-item">
            <span class="text"><i class="fa-solid fa-user-graduate icon"></i>Education :</span>
            <div class="text">Liceul "Alexandru Vlahuta" Dorohoi</div>
        </div> -->
        <div class="contact-item">
            <span class="text mobile"><i class="fa-solid fa-phone icon"></i>Mobile Number :</span>
            <div class="text"><a href="tel:+40755333224">+4 0755 333 224</a></div>
        </div>
        <div class="contact-item">
            <span class="text"><i class="fa-solid fa-earth-europe icon"></i>Languages :</span>
            <div class="text">Romanian, French, English</div>
        </div>
    </div>
    <!-- <div class="social-media">
        <span class="btn"><i class="fa-brands fa-whatsapp"></i></span>
        <span class="btn"><i class="fa-brands fa-github"></i></span>
        <span class="btn"><i class="fa-brands fa-linkedin-in"></i></span>
    </div> -->
</div>
 