
<div class="section">
    <div class="content">
        <div class="left">
            <div class="photo-profil"></div>
        </div>
        <div class="right">
            <div>
                <div class="name">Marian<span class="second-name">Rusu</span></div>
                <div class="bar"></div>
            </div>
            <div class="description">
                <p class="paragraph-heder">A passionate self-taught software developer at the beginning of the journey.</p>
                <p class="paragraph-heder">I am looking for new opportunities and collaborations to show my skills and to continue to grow as a Software Developer.</p>
            </div>
            <a class="btn" href="/assets/CV Marian.pdf" target="_blank">
                <div class="button">Download CV 
                    <span class="icon-btn"><i class="fa-solid fa-download"></i></span>
                </div>
            </a>
        </div>
    </div>
</div>
