 <div class="bar">
    <div class="content">
        <a class="btn" [routerLinkActiveOptions]="{exact:true}" routerLink="/" routerLinkActive="selected">
            <span ><i class="fa-solid fa-house"></i></span>
        </a>
        <a class="btn" routerLink="/despre" routerLinkActive="selected">
            <span><i class="fa-solid fa-user"></i></span>
        </a>
        <a class="btn" routerLink="/portofoliu"routerLinkActive="selected">
            <span><i class="fa-solid fa-briefcase"></i></span>
        </a>
        <a class="btn" routerLink="/contact"routerLinkActive="selected">
            <span><i class="fa-solid fa-envelope"></i></span>
        </a>
    </div>
 </div>
