 <div class="bar">
    <div class="content">
        <a class="btn" href="/">
            <span ><i class="fa-solid fa-house"></i></span>
        </a>
        <a class="btn" href="/aboutme">
            <span><i class="fa-solid fa-user"></i></span>
        </a>
        <a class="btn" href="/portfolio">
            <span><i class="fa-solid fa-briefcase"></i></span>
        </a>
        <a class="btn" href="/contact">
            <span><i class="fa-solid fa-envelope"></i></span>
        </a>
    </div>
 </div>
